[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "eth-contracts/lib/cross-chain-swap"]
	path = eth-contracts/lib/cross-chain-swap
	url = https://github.com/1inch/cross-chain-swap
[submodule "eth-contracts/lib/forge-std"]
	path = eth-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "eth-contracts/lib/openzeppelin-contracts"]
	path = eth-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
